# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
.pytest_cache/

# Home Assistant Local Dev
config/
home-assistant_v2.db
home-assistant.log

# Local Debug Scripts
debug_connection.py

# Data folder
Daten/